h1{
    position: absolute;
     left: 40%;
     color: brown;
     padding: 10px 70px;
     font-family: 'Monospace';
     font-size: 30px;
     font-style: oblique;
}
.tabela{
    max-width: 900px;
    position: absolute;
    top: 15%;
    left: 40%;
    padding: 10px 70px;
    size: 100px;
    background-color:tan; 
}
.botao{
    color: beige;
    background-color:saddlebrown;
    max-width: 100px;
    font-family: 'Lucida Sans'
}
.td{
    width: 50px;
}
.notaAdici{
    width: 50px;
}
.tbotaoApagar{
    padding: 32px 16px;
    color: red;
}